<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">





</head>

<body>

<!--  <span class="glyphicon glyphicon-map-marker gly-bigger"></span> -->

<div class="row">
  <div class="col-sm-2">
  </div>
  
  <div class="col-sm-8">
   
<br><br>
  <form class="form-horizontal" action="{{url_for('cleanTags')}}" method="post" >
  <fieldset>
    <legend>MetaData Extractor - Identified Tags</legend>

  
    <div class="form-group">
      <label for="description" class="col-lg-2 control-label">Suggested Tags</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="10" id="description" name="description" >{{tag_text}}</textarea>
        <span class="help-block"><b> Instructions: </b><br>To modify tag, type the correct tag after "-->" e.g. oldTag --> correctedTag <br>To delete add an "x" after tag. e.g. oldTag --> x <br>Do nothing to accept.<br> To add a new tag, type it followed by '-->' e.g. newTag --> <br>Do not delete the lines begining with @@</span>
      </div>
    </div>
   
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" id="bb" class="btn btn-primary">Clean Tags</button>
      </div>
    </div>
  </fieldset>
</form>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
      


  </div>
  <div class="col-sm-2">
  </div>
</div>






<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
$('#bb').click(function() {
 $("#bb").text('Processing ...');
})
});
</script>



<link rel="stylesheet" href= {{url_for('static', filename='style.css')}}>

</body>

</html>
