<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">





</head>

<body>

<!--  <span class="glyphicon glyphicon-map-marker gly-bigger"></span> -->

<div class="row">
  <div class="col-sm-2">
  </div>
  
  <div class="col-sm-8">
   
<br><br>
  <form class="form-horizontal" action="{{url_for('extractTags')}}" method="post" >
  <fieldset>
    <legend>MetaData Extractor - Enter Data</legend>
<div class="form-group">
      
  
    <div class="form-group">
      <label for="description" class="col-lg-2 control-label">Data</label>
      <div class="col-lg-10">
        <textarea class="form-control" id="description" rows="10" name="description" ></textarea>
        <span class="help-block">Paste the entire plain-text description here.</span>
      </div>
    </div>
   
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Extract Tags</button>
      </div>
    </div>
  </fieldset>
</form>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
      


  </div>
  <div class="col-sm-2">
  </div>
</div>






<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>




<link rel="stylesheet" href= {{url_for('static', filename='style.css')}}>

</body>

</html>
